*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #92cccd;
    --secondary-color:#31343d;
    --tertiary-color:#ededf6;
    --section-text-color:#4c607d;
}
body {
    background-color: var(--tertiary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--section-text-color);
}

a {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid var(--primary-color);
}
header {
    padding: 5px 0 10px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--secondary-color);
    border-left: 30px solid var(--primary-color);
    border-right: 15px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 50px;
    margin: 0;
}

header nav {
    padding-top: 15px;
    margin-right: 70px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 5px;
}
.hero{
    height: 210px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Angelisland.jpg");
    background-size: cover;
    background-position: center;
}
.hero h2{
    float: right;
    margin-right: 70px;
    margin-top: 150px;
    background-color: var(--primary-color);
    padding: 5px 5px 5px 5px;
    font-size: 30px;
}
.section-title{
    font-size: 55px;
    margin-right: 3px;
}
.about-me{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 20px;
}
.about-me p{
    border-left: 3px solid var(--section-text-color);
    padding-left: 30px;
    width: 60%;
}
.work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 20px;
}
.work h2{
    padding-left: 107px;
}
.projects{
    border-left: 3px solid var(--section-text-color);
    padding-left: 30px;
    width: 60%;
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.big-project{
    min-height: 300px;
    width: 100%;
    border: 4px solid var(--primary-color);
    background-image: url("../images/tides.jpg");
    background-size: cover;
    margin-bottom: 15px;
    opacity: .75;
}
.big-project h3{
    margin-top: 200px;
    font-size: 30px;
}
.projects span{
    background-color: var(--primary-color);
}
.small-project{
    width: 47%;
    min-height: 150px;
    border: 4px solid var(--primary-color);
    object-fit: cover;
    margin-bottom: 10px;
    opacity: .75;
}
.small-project h3{
    margin-top: 60px;
    font-size: 30px;
}
.big-project:hover{
    opacity: 1;
}
.small-project:hover{
    opacity: 1;
}
.pj1{
    background-image: url("../images/led_wall.jpeg");
    background-size: cover;
}
.pj2{
    background-image: url("../images/calculator.png");
    background-size: cover;
}
.pj3{
    background-image: url("../images/pastel_puzzle.png");
    background-size: cover;
}
.pj4{
    background-image: url("../images/run_buddy.PNG");
    background-size: cover;
}